<div class="container">
  <h3><%= image_tag 'user_show/show_icon.png', class:'show_icon_img' %>My Page</h3>
  <% unless @user.company.nil? %>
      <%= link_to '登録内容を確認する', company_path(@user.company), class: 'btn btn-outline-dark user_btn' %>
  <% else %>
      <%= link_to '新規作成', new_company_path, class: 'btn btn-outline-dark user_btn' %>
  <% end %>
  <div class="clear"></div>
  <ul class="nav nav-tabs">
      <li class="active"><a href="#like" data-toggle="tab">お気に入り</a></li>
      <li><a href="#talk" data-toggle="tab">コンタクト</a></li>
  </ul>
  <div class="tab-content">
      <div class="tab-pane active" id="like">
          <% unless @likes.nil? %>
              <p><%= image_tag 'user_show/like.png', class:'like_img' %>気になるリスト</p>
              <% @likes.each do |like| %>
                  <% company = Company.find(like.company_id) %>
                  <div class="row company_line">
                      <div class="col-5">
                          <% if company.image? %>
                              <p><%= image_tag company.image.thumb.url, class: 'company_img' %></p>
                          <% else %>
                              <p><%= image_tag 'company_show/sample_img.jpg', class:'company_img' %></p>
                          <% end %>
                      </div>
                      <div class="col-7">
                          <%= link_to(company) do %>
                              <p><%= company.name  %></p>
                              <p><%= company.introduce %></p>
                          <% end %>
                      </div>
                  </div>
              <% end %>
          <% else %>
              <p><%= image_tag 'user_show/like.png', class:'like_img' %>気になる登録はありません</p>
          <% end %>
      </div>
      <div class="tab-pane" id="talk">
          <p>茨城県・栃木県・群馬県・埼玉県・千葉県・東京都・神奈川県</p>
      </div>
  </div>
  <%= link_to 'チャット', rooms_path %>
</div>
