<div class="container">
  <h3><%= image_tag 'user_show/show_icon.png', class:'show_icon_img' %>My Page</h3>
  <% unless @user.company.nil? %>
      <%= link_to '登録内容を確認する', company_path(@user.company), class: 'btn btn-outline-dark user_btn' %>
  <% else %>
      <%= link_to '新規作成', new_company_path, class: 'btn btn-outline-dark user_btn' %>
  <% end %>
  <div class="clear"></div>
  <ul class="nav nav-tabs">
      <li class="nav-item"><a class="nav-link active" href="#like" data-toggle="tab">気になるリスト</a></li>
      <li class="nav-item"><a class="nav-link" href="#talk" data-toggle="tab">コンタクト</a></li>
  </ul>
  <div class="tab-content">
      <div class="tab-pane active" id="like">
          <% unless @likes.nil? %>
              <% @likes.each do |like| %>
                <div class="user_show_like">
                  <% company = Company.find(like.company_id) %>
                  <div class="row company_line">
                      <div class="col-5">
                          <% if company.image? %>
                              <p><%= image_tag company.image.thumb.url, class: 'company_img' %></p>
                          <% else %>
                              <p><%= image_tag 'company_show/sample_img.jpg', class:'company_img' %></p>
                          <% end %>
                      </div>
                      <div class="col-7">
                          <%= link_to(company) do %>
                              <p><%= company.name  %></p>
                              <p><%= company.introduce %></p>
                          <% end %>
                      </div>
                  </div>
                </div>
              <% end %>
          <% else %>
              <p><%= image_tag 'user_show/like.png', class:'like_img' %>気になる登録はありません</p>
          <% end %>
      </div>
      <div class="tab-pane" id="talk">
          <% @connects.each do |connect| %>

            <% users = User.where(id: [connect.user_id, connect.company_user_id]) %>
            <% users.each do |user| %>
              <% if user.id != @current_user.id %>
              <div class="user-show-contact">
                <%= link_to(connect_path(connect.id)) do %>
                  <p><%= image_tag 'user_show/mail.png', class:'like_img' %><%= user.company.name %></p>
                  </div>
                <% end %>

              <% end %>
            <% end %>
          <% end %>
      </div>
  </div>
  <%= link_to 'チャット', rooms_path %>
</div>
