<%= render 'shared/error_messages' %>
<p><%= @connect.user_id %></p>
<p><%= @connect.company_user.id %></p>
<% @comments.each do |comment| %>
<% company = Company.find_by(id: comment.user_id) %>
  <% if @current_user.id == comment.user_id %>
    <div class="text-right">
      <% if company.image? %>
        <%= image_tag company.image.url, class: 'company_show_img' %>
      <% else %>
        <%= image_tag 'company_show/sample_img.jpg', class: 'company_show_img' %>
      <% end %>
      <%= company.name %>
    </div>
    <div class="talk-right text-right">
      <p><%= comment.created_at %></p>
      <div class="connect-show-comment"><%= comment.comment %></div>
    </div>
  <% else %>
    <div class="text-left">
      <% if company.image? %>
        <%= image_tag company.image.url, class: 'company_show_img' %>
      <% else %>
        <%= image_tag 'company_show/sample_img.jpg', class: 'company_show_img' %>
      <% end %>
      <%= company.name %>
    </div>
    <div class="talk-left text-left">
      <p><%= comment.created_at %></p>
      <div class="connect-show-comment"><%= comment.comment %></div>
    </div>
  <% end %>
<% end %>

<%= form_for @comment do |f| %>
  <%= f.hidden_field :connect_id, :value => @connect.id %>
  <%= f.hidden_field :user_id, :value => @current_user.id %>
  <%= f.text_field :comment, class: 'form-control' %>
  <%= f.submit 'メッセージを送る', class: 'btn btn-default connect-btn' %>
<% end %>
